@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video ,#front-sidebar .widget_moka_about h3.about-title,#front-sidebar .widget_moka_quote p,#front-sidebar .widget_moka_quote p.quote-author

body{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #f7f2b4;
  height: 120px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}
