@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

body{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  /* 上下のpaddingを100px、左右のpaddingを80pxにしてください */
  padding: 100px 80px;
}

/* copy-containerの中のh1のfont-sizeを指定してください */
.copy-container h1 {
  font-size: 140px;
}

/* copy-containerの中のh2のfont-sizeを指定してください */
.copy-container h2 {
  font-size: 60px;
}

/* copy-containerの中のspanの色を指定してください */
.copy-container span {
  color: #ff4a4a;
}

.footer {
  /* background-colorを#2f5167に変更してください */
  background-color: #2f5167;
  
  /* colorを#fffにしてください */
  color: #fff;
  
  /* heightを120pxに変更してください */
  height: 120px;
  /* 上下左右のpaddingを40pxにしてください */
  padding: 40px;
  
}

/* footer-logoのfont-sizeとfloatを指定してください */
.footer-logo {
  font-size: 32px;
  float: left;
}

/* footer-listのfloatを指定してください */
.footer-list {
  float: right;
}

/* footer-listの中のli要素のpadding-bottomを指定してください */
.footer-list li {
  padding-bottom: 20px;
}
