@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

<!--
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video ,#front-sidebar .widget_moka_about h3.about-title,#front-sidebar .widget_moka_quote p,#front-sidebar .widget_moka_quote p.quote-author
{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
-->
body{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

li {
  list-style: none;
<!--  float: left;
  /* 上下のpaddingを33px、左右のpaddingを20px */
  padding: 33px 20px;
-->
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo{
  float: left;
  font-size: 36px;
  /* 上下のpaddingを20px、左右のpaddingを40px */
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #2f5167;
  /* colorを#fff */
  color: #fff;
  /* heightを120px */
  height: 120px;
  /* 上下左右のpaddingを40px */
  padding: 40px;
}

.footer-logo {
  font-size: 32px;
  float: left;
}

/* footer-listのfloatを指定 */
.footer-list {
  float: right;
}

/* footer-listの中のli要素のpadding-bottomを指定 */
.footer-list li {
  padding-bottom: 20px;
}
